:root{
    --bg:#F6F5F3;
    --surface:#FFF;
    --text:#222;
    --muted:#6B6B66;
    --accent:#8FA3AD;
    --max-width:980px;
}

html,body{
    height: 100%;
    margin:0;
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial;
    background:var(--bg);
    color:var(--text);
}

.header-inner{
    margin-left: 220px;
    margin-right: 220px;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:1rem;
}

.color a:hover{
    color: var(--surface);
    background-color: var(--text);
}

.brand{
    display:flex;
    align-items:center;
    gap:0.75rem;
}

nav a{
    color:var(--text);
    text-decoration:none;
    padding:0.25rem 0.5rem;
    border-radius:6px;
}

nav a.active{
    background:var(--accent);
    font-weight:600;
    color: #FFFFFF;
}

.catalog{
    max-width:var(--max-width);
    margin:1.25rem auto;
    padding:1.25rem;
    background:var(--surface);
    border-radius:10px;
    text-align: center;
    justify-content: center;
}

.lead{
    color:var(--muted)
}

.meta{
    color:var(--muted);
    margin:0.25rem 0 0
}

footer{
    max-width:var(--max-width);
    margin:1.5rem auto;
    padding:1rem;
    text-align:center;
    color:var(--muted)
}

.libro{
    width: 800px;
    height: 100px;
    background-color: #b5b5b5a6;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding: 0px 20px;
    margin-left: 7%;
    margin-bottom: 10px;
}

.libro:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease;
    background-color: var(--muted);
}

a{
    text-decoration: none;
    color: white;
}