:root{
  --bg:#F6F5F3;
  --surface:#FFFFFF;
  --text:#222;
  --muted:#6B6B66;
  --accent:#8FA3AD;
  --max-width:980px;
}

html,body{
    height:100%;
    margin:0;
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial;
    background:var(--bg);
    color:var(--text)
}


.header-inner{
    margin-left: 220px;
    margin-right: 220px;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:1rem;
}

.color a:hover{
    color: var(--surface);
    background-color: var(--text);
}

.brand{
    display:flex;
    align-items:center;
    gap:0.75rem;
}

nav a{
    color:var(--text);
    text-decoration:none;
    padding:0.25rem 0.5rem;
    border-radius:6px;
}

nav a.active{
    background:var(--accent);
    font-weight:600;
    color: #FFFFFF;
}

.hero{
    max-width:var(--max-width);
    margin:1.25rem auto;
    padding:1.75rem;
    background:var(--surface);
    border-radius:10px;
}

.hero h2{
    margin:0 0 0.5rem
}

.mapa {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.features{
    max-width:var(--max-width);
    margin:1rem auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:1rem;
    padding:0 1rem
}

.features h3{
    text-align: center;
    color: black;
}
.features article{
    background:var(--surface);
    padding:1rem;
    border-radius:10px;
    color:var(--muted)
}

footer{
    max-width:var(--max-width)
    ;margin:1.5rem auto;
    padding:1rem;
    text-align:center;
    color:var(--muted)
}

address{
    font-style:normal;
    margin-bottom:0.5rem
}

.explore{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.explore:hover{
    color: rgb(175, 0, 0);
}

